$catalogue                                                      ($author, $date)
================================================================================
$title
    $authors
    $bibcode
================================================================================
Keywords: $keywords

Objects:
    -----------------------------------------
       RA   (2000)   DE    Designation(s)
    -----------------------------------------
$objects
    -----------------------------------------

Abstract:
  $abstract

Description:
  $description

File Summary:
--------------------------------------------------------------------------------
$tablesIndex
--------------------------------------------------------------------------------

$bytebybyte

See also:
$seealso

Acknowledgements:
  $acknowledgements

References:

License: $license
================================================================================
     (prepared by author  / pyreadme )
